<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>test</title>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
   <script src="./js/semantic.js"></script>
   <script src="./js/PicCarousel.js"></script>
   <link rel="stylesheet" type="text/css" href="./css/semantic.css">
   <link rel="stylesheet" type="text/css" href="./css/default.css">
   <link rel="stylesheet" type="text/css" href="./css/normalize.css">
   <link rel="stylesheet" type="text/css" href="./css/style.css">

<script type="text/javascript">
function picShowInit() {
   var bwidth=document.getElementById('B_demo').clientWidth;
   $(".B_Demo").PicCarousel({
      "width":bwidth,     //幻灯片的宽度
      "height":bwidth*0.3,     //幻灯片的高度
      "posterWidth":bwidth*0.52,   //幻灯片第一帧的宽度
      "posterHeight":bwidth*0.3, //幻灯片第一张的高度
      "scale":0.9,      //记录显示比例关系
      "speed":1500,     //记录幻灯片滚动速度
      "autoPlay":true,  //是否开启自动播放
      "delay":1000,     //自动播放间隔
      "verticalAlign":"top"   //图片对齐位置
   });
}

$(document).ready(picShowInit);

</script>

</head>
<body style="margin: 0 0 0 0">
   <div style="flex-direction: row; display: flex; justify-content:space-between;">
      <div style="background-color: rgb(58, 52,52); display: flex; flex-direction: column; height: 100vh; width: 15%">
         <div style=" color: white;">
            <h1 style="margin-top: 30px;">～我的家庭～</h1>
            <ol>成員1</ol>
            <ol>成員2</ol>
            <ol>成員3</ol>

         </div>
         <hr style="width:80%;margin:25vh 8% 10px 8%;border:solid 1px rgb(221,221,221);">
         <div>
            <div class="ui search" style="margin-left: 5%">
              <input class="prompt" type="text" placeholder="search tag" style="width: 110px; border-radius: 5%; border-color: white; color: white; background-color: rgb(38, 38, 38); margin-left: 12%;">
              <div class="results"></div>
            </div>
         </div>
      </div>
      <div style="width:70%;"  id='B_demo'>
         <div class="poster-main B_Demo" style="flex-direction: column; display: flex;">
            <div class="poster-btn poster-prev-btn"></div>
            <ul class="poster-list">
               <li class="poster-item"><a href="#"><img src="img/1.jpg" width="70%" height="70%" ></a></li>
               <li class="poster-item"><a href="#"><img src="img/2.jpg" width="70%" height="70%"></a></li>
               <li class="poster-item"><a href="#"><img src="img/3.jpg" width="70%" height="70%"></a></li>
               <li class="poster-item"><a href="#"><img src="img/4.jpg" width="70%" height="70%"></a></li>
               <li class="poster-item"><a href="#"><img src="img/5.jpg" width="70%" height="70%"></a></li>
            </ul>
            <div class="poster-btn poster-next-btn"></div>
         </div>
         <hr style="width:90%;margin:0vh 0% 10px 4%;border:solid 1px black;">
      </div>
      <div style="background-color: rgb(237, 237, 237); width: 15%; z-index: 1;">
         <div style="display: flex;">
            <button class="ui button">
              家庭行程
            </button>
            <button class="ui button">
              檔案
            </button>
         </div>
         <hr style="width:100%;margin:30px 0% 10px 0%;border:solid 1px rgb(221,221,221);">
         <div class="ui selection dropdown">
           <input type="hidden" name="gender">
           <i class="dropdown icon"></i>
           <div class="default text">#新增家庭行程</div>
           <div class="menu">
               <div class="item" data-value="1">日期</div>
               <div class="item" data-value="2">主題</div>
               <div class="item" data-value="3">人員</div>
               <div class="item" data-value="4">地點</div>
           </div>
         </div>
         <hr style="width:100%;margin:30px 0% 10px 0%;border:solid 1px rgb(221,221,221);">
      </div>
   </div>

</body>
</html>
