<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>test</title>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
   <script src="./js/semantic.js"></script>
   <script src="./js/PicCarousel.js"></script>
   <script src="js/modernizr.js"></script> <!-- Modernizr -->
   <script src="js/main.js"></script> <!-- Resource jQuery -->
   <link rel="stylesheet" type="text/css" href="./css/semantic.css">
   <link rel="stylesheet" type="text/css" href="./css/default.css">
   <link rel="stylesheet" type="text/css" href="./css/normalize.css">
   <link rel="stylesheet" type="text/css" href="./css/reset.css"> <!-- CSS reset -->
   <link rel="stylesheet" type="text/css" href="./css/timetable.css"> <!-- CSS reset -->
  <link href='http://fonts.googleapis.com/css?family=Droid+Serif|Open+Sans:400,700' rel='stylesheet' type='text/css'>
   <link rel="stylesheet" type="text/css" href="./css/style.css">






  <script type="text/javascript">
    $(document).ready(function() {
       // $(".A_Demo").PicCarousel("init");
       $(".A_Demo").PicCarousel({
          "width":1000,     //幻灯片的宽度
          "height":300,     //幻灯片的高度
          "posterWidth":520,   //幻灯片第一帧的宽度
          "posterHeight":300, //幻灯片第一张的高度
          "scale":0.9,      //记录显示比例关系
          "speed":1500,     //记录幻灯片滚动速度
          "autoPlay":true,  //是否开启自动播放
          "delay":1000,     //自动播放间隔
          "verticalAlign":"top"   //图片对齐位置
       });

       $('.cd-timeline-content').on('click', function(){
          var filename = $(this).parent().find('span').text();
          console.log(filename);
          ajax(filename);
          $('#timetable').hide();
          $('#picture').show();
       });
        $('.ui.dropdown')
          .dropdown()
        ;
    });

    function ajax(date){
      var ajaxurl = '/'+ date;
      $.ajax({
        url:ajaxurl,
        type: 'GET',
        success: function(response) {
          $('#picture').html(response);
           $('#return').on('click', function(){
              $('#timetable').show();
              $('#picture').hide();
           });
        }
      });
    }

    function picShowInit() {
       var bwidth=document.getElementById('B_demo').clientWidth;
       $(".B_Demo").PicCarousel({
          "width":bwidth,     //幻灯片的宽度
          "height":bwidth*0.3,     //幻灯片的高度
          "posterWidth":bwidth*0.52,   //幻灯片第一帧的宽度
          "posterHeight":bwidth*0.3, //幻灯片第一张的高度
          "scale":0.9,      //记录显示比例关系
          "speed":1500,     //记录幻灯片滚动速度
          "autoPlay":true,  //是否开启自动播放
          "delay":1000,     //自动播放间隔
          "verticalAlign":"top"   //图片对齐位置
       });
    }

    $(document).ready(picShowInit);


  </script>
<script type="text/javascript">
function picShowInit() {
   var bwidth=document.getElementById('B_demo').clientWidth;
   $(".B_Demo").PicCarousel({
      "width":bwidth,     //幻灯片的宽度
      "height":bwidth*0.3,     //幻灯片的高度
      "posterWidth":bwidth*0.52,   //幻灯片第一帧的宽度
      "posterHeight":bwidth*0.3, //幻灯片第一张的高度
      "scale":0.9,      //记录显示比例关系
      "speed":1500,     //记录幻灯片滚动速度
      "autoPlay":true,  //是否开启自动播放
      "delay":1000,     //自动播放间隔
      "verticalAlign":"top"   //图片对齐位置
   });
}

$(document).ready(picShowInit);

</script>


</head>
<body style="margin: 0 0 0 0">
   <div style="flex-direction: row; display: flex; justify-content:space-between;">
      <div style="background-color: rgb(58, 52,52); display: flex; flex-direction: column;  width: 15%">
         <div style=" color: white;">
            <h1 style="margin-top: 30px; margin-left: 25px; font-size: 20px;">～我的家庭～</h1>
            <ol style="margin-left: 50px;">成員1</ol>
            <ol style="margin-left: 50px;">成員2</ol>
            <ol style="margin-left: 50px;">成員3</ol>
         </div>
         <hr style="width:80%;margin:25vh 8% 10px 8%;border:solid 1px rgb(221,221,221);">
         <div>
            <div class="ui search" style="margin-left: 5%">
              <input class="prompt" type="text" placeholder="search tag" style="width: 110px; border-radius: 5%; border-color: white; color: white; background-color: rgb(38, 38, 38); margin-left: 12%;">
              <div class="results"></div>
            </div>
         </div>
         <div style="display: flex; flex-direction: row;">
          <img src="/img/music.png" alt="" style="width: 30px; height: 30px; margin-left: 30px; margin-top: 30px;">
          <h4 style="margin-left: 10px; margin-top: 35px;">music</h4>
         </div>
         <div style="display: flex; flex-direction: row;">
          <img src="/img/photo.png" alt="" style="width: 30px; height: 30px; margin-left: 30px; margin-top: 10px;">
          <h4 style="margin-left: 10px; margin-top: 15px;">photo</h4>
         </div>
         <div style="display: flex; flex-direction: row;">
          <img src="/img/video.png" alt="" style="width: 30px; height: 30px; margin-left: 30px; margin-top: 10px;">
          <h4 style="margin-left: 10px; margin-top: 15px;">video</h4>
         </div>
         <h4 style="margin-left: 30px;  margin-top: 15px;"># 自定義標籤&nbsp;&nbsp;&nbsp;+</h4>
      </div>

      <div style="width:70%;"  id='B_demo'>
         <div class="poster-main B_Demo" style="flex-direction: column; display: flex;">
            <div class="poster-btn poster-prev-btn"></div>
            <ul class="poster-list">
               <li class="poster-item"><a href="#"><img src="img/1.jpg" width="70%" height="70%" ></a></li>
               <li class="poster-item"><a href="#"><img src="img/2.jpg" width="70%" height="70%"></a></li>
               <li class="poster-item"><a href="#"><img src="img/3.jpg" width="70%" height="70%"></a></li>
               <li class="poster-item"><a href="#"><img src="img/4.jpg" width="70%" height="70%"></a></li>
               <li class="poster-item"><a href="#"><img src="img/5.jpg" width="70%" height="70%"></a></li>
            </ul>
            <div class="poster-btn poster-next-btn"></div>
          </div>
          <hr style="width:90%;margin:0vh 0% 10px 4%;border:solid 1px black;">
          <!-- timetable -->
          <div style="height: 400px; overflow-y:scroll;" id="timetable">
            <section id="cd-timeline" class="cd-container">
              <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-picture">
                  <img src="img/cd-icon-picture.svg" alt="Picture">
                </div> <!-- cd-timeline-img -->

                <div class="cd-timeline-content">
                  <h2>at 台灣大學</h2>
                  <img src="img/1.jpg" width="60%" height="60%" >
                  <h4>大哥婚紗照</h4>
                  <span class="cd-date">9月24日</span>
                  <img src="img/people.png" alt="" style="height: 20px; width: 20px;">
                  <img src="img/people.png" alt="" style="height: 20px; width: 20px;">
                  <img src="img/people.png" alt="" style="height: 20px; width: 20px;">
                  <img src="img/people.png" alt="" style="height: 20px; width: 20px;">
                  <img src="img/people.png" alt="" style="height: 20px; width: 20px;">
                  <img src="img/people.png" alt="" style="height: 20px; width: 20px;">
                </div> <!-- cd-timeline-content -->
              </div> <!-- cd-timeline-block -->

              <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-movie">
                  <img src="img/cd-icon-movie.svg" alt="Movie">
                </div> <!-- cd-timeline-img -->

                <div class="cd-timeline-content">
                  <h2>at 天母運動公園</h2>
                  <img src="img/2.jpg" width="60%" height="60%" >
                  <h4>全家天母野餐日</h4>
                  <span class="cd-date">10月11日</span>
                  <img src="img/people.png" alt="" style="height: 20px; width: 20px;">
                  <img src="img/people.png" alt="" style="height: 20px; width: 20px;">
                  <img src="img/people.png" alt="" style="height: 20px; width: 20px;">
                  <img src="img/people.png" alt="" style="height: 20px; width: 20px;">
                  <img src="img/people.png" alt="" style="height: 20px; width: 20px;">
                </div> <!-- cd-timeline-content -->
              </div> <!-- cd-timeline-block -->

              <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-picture">
                  <img src="img/cd-icon-picture.svg" alt="Picture">
                </div> <!-- cd-timeline-img -->

                <div class="cd-timeline-content">
                  <h2>at 圓環</h2>
                  <img src="img/3.jpg" width="60%" height="60%" >
                  <h4>圓環一日遊</h4>
                  <span class="cd-date">11月24日</span>
                  <img src="img/people.png" alt="" style="height: 20px; width: 20px;">
                  <img src="img/people.png" alt="" style="height: 20px; width: 20px;">
                  <img src="img/people.png" alt="" style="height: 20px; width: 20px;">
                  <img src="img/people.png" alt="" style="height: 20px; width: 20px;">
                  <img src="img/people.png" alt="" style="height: 20px; width: 20px;">
                </div> <!-- cd-timeline-content -->
              </div> <!-- cd-timeline-block -->
            </section> <!-- cd-timeline -->
          </div>
          <div style=" height: 500px;overflow-y:scroll; padding-left: 50px;padding-right: 50px; display: none" id="picture">
            <h3>回上一頁</h3>
          </div>
      </div>
      <div style="background-color: rgb(237, 237, 237); width: 15%; z-index: 1;padding-left: 10px; padding-left: 10px;">
         <div style="display: flex;">
            <button class="ui button" style="font-size: 10px; margin-left: 10px;margin-top: 10px;">
              家庭行程
            </button>
            <button class="ui button" style="font-size: 10px; margin-top: 10px;">
              檔案
            </button>
         </div>
         <hr style="width:100%;margin:30px 0% 10px 0%;border:solid 1px rgb(221,221,221);">
         <div>
           <div class="ui selection dropdown">
             <input type="hidden" name="gender">
             <i class="dropdown icon"></i>
             <div class="default text">#新增家庭行程</div>
             <div class="menu">
                 <div class="item" data-value="1">日期</div>
                 <div class="item" data-value="2">主題</div>
                 <div class="item" data-value="3">人員</div>
                 <div class="item" data-value="4">地點</div>
             </div>
           </div>
           <hr style="width:100%;margin:30px 0% 10px 0%;border:solid 1px rgb(221,221,221);">
         </div>
         <div>
           <h2>檔案1</h2>
         </div>

      </div>
   </div>

</body>
</html>
