<h3 id="return" style="cursor: pointer;">回上一頁</h3>
<% for(var i = 1; i < files.length; i++){ %>
<img src="img/<%= dir %>/<%= files[i] %>" width="20%" height="20%" style="margin-left: 10px; margin-top: 10px;">
<% } %>